@charset "utf-8";
/* CSS Document */

li { 
  float:left;
  padding-left: 0;
}

li a {
   display:block;
   color:white;
   text-align:center;
   padding:14px;
   text-decoration:none;
   font-variant: small-caps;
  }
	
ul {
	display: flex;
justify-content: space-around;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #67CB05;
  position: sticky;
  top:0;
  width:100%;
}
nav a:hover, nav a:active{
 background-color:none;
 color: black;
}
